*{
	margin: 0;
	padding: 0;
}


.menu{
  list-style:none;
  background-color: rgba(255, 255, 255, 0.5);
  float:right;
}

.menu li{
  position:relative;
  float:left;
  border-right:1px solid #c0c0c0;
}

.menu li a{
	color:#333; 
	text-decoration:none; 
	padding:5px 10px; 
	display:block;
}

.menu li a:hover{
  background:#333;
  color:#fff;
  text-shadow:0px 0px 5px #fff;
}

.menu li ul{
position:absolute;
top:25px;
left:0;
background-color:#FFF;
display:none;
}

.menu li:hover ul, .menu li.over ul{
   display:block;
}

.menu li ul li{
border:1px solid #c0c0c0;
display:block;
width:150px;
}